.cover {
  margin-top: 92px;
  margin-bottom: 92px;
}

@media screen and (max-width: 1000px) {
  .cover {
    margin-top: 90px;
    margin-bottom: 88px;
  }
}

@media screen and (max-width: 740px) {
  .cover {
    margin-top: 66px;
    margin-bottom: 64px;
  }
}